pip>=23.1
bump2version
wheel
watchdog>=4.0
flake8
tox
coverage
Sphinx
twine
setuptools
numpy>=2.0
astropy>=8.0
scipy
colossus>=1.3.1
h5py>=3.9.0
mpmath
mcfit
lenstronomy @ git+https://github.com/dangilman/lenstronomy.git
